:root {
  --main-backgroundcolor: linear-gradient(180deg, rgba(61,22,151,1) 0%, rgba(15,53,190,1) 50%, rgba(14,82,190,1) 100%);;
  --seecond-backgroundcolor: #3DE2DD;
  --white: #ffffff;
  --theme-purple:#7C85D7;
  --theme-red:#F26241;
  --theme-green:#9FD75C;
  --yellow: #F5D143;
  --border: #000000;
  --platinum:#72286F;
  --gold:#B59410;
  --silver: #71706E;
  --bronze:#CD7F32;
  height: 100vh;

}

@font-face {
  font-family: 'Bernoru-BlackUltra_Expanded';
  src: url('../public/bernoru-blackultraexpanded.otf');

}


@font-face {
  font-family: 'Inter';
  font-stretch: PERCENTAGE_RANGE_LOW_TO_HIGH; /* Note that font-stretch is a % of normal width */
  font-weight: NUMERIC_RANGE_LOW_TO_HIGH;
  src: url('../public/Inter-VariableFont_opsz\,wght.ttf') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('../public/BeVietnamPro-Medium.ttf');

}

.background1 {
  width: 100%;
  justify-content:center
}

.contact-button {
  border-radius: 25px;
  background: #FEDD5C;
  padding: 10px;
  cursor: pointer;
  color:#000000 !important;
  font-weight: 600;
  letter-spacing:0.4px;
}

.contact-button a:hover {
  color: #e36158;
}

.contact-us{
   display: flex;
   flex-wrap: wrap;
   gap:1rem;
   width: 100%;
   align-items: flex-start;
   padding-bottom:0rem;
   flex-direction: row;
   justify-content: center;
}

.contact{
  width: 50%;
}

.split{
  width: 80%;
  gap: 2vw;
  position: relative;
  display: flex;
  flex-direction: row;
}

.Ask-body{
  font-family: Be Vietnam;
  font-size:20px;
  color: white;
}

.Ask-header{
  font-family: Neuething Sans Test;
  color: white;
  font-size: 30px;
  font-weight:800;
  margin-bottom: 2rem
}

.rocket{
  width: 50%;
  display: flex;
  align-self: center;
  justify-self: center;
}


html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: peridot pe variable;
  letter-spacing: -1px;
  font-weight: 800;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Title {
  margin: 0px;
  color: #FFF;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 4vw;
  width: 50%;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-family:Bernoru-BlackUltra_Expanded;
}

.Title2 {
  display: flex;;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FEDD5C;
  font-family: Inter;
  font-size: 2.2vw;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.Title3 {
  display: flex;
  flex-direction: column;
  justify-content: right;
  flex-shrink: 0;
  color: #FEDD5C;
  font-family: "Be Vietnam";
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px;
}

.Title4 {
  display: flex;
  flex-direction: column;
  justify-content: right;
  flex-shrink: 0;
  margin: 0px;
  color: #FEDD5C;
  font-family: "Be Vietnam";
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.Title5{
  margin: 15px 0px;
  font-size: 1.2vw;
}

.Title5 a{
  font-family: Be Vietnam;
  border-radius: 25px;
  background: #FEDD5C;
  padding: 15px 40px 15px 40px;
  cursor: pointer;
  color:#000000 !important;
  text-align: center;
  position: relative;
  text-decoration: none;
}

strong{
  font-weight: 1000;
  letter-spacing: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  z-index: 3;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 20px;
  top: 0px;
  background: rgba(61,22,151,1);
  position: sticky;
  width: 100%;
  color:#FFF;
  font-family:Inter;
  font-size: 20px
}

.header p{
  cursor:pointer
}

.signup{
  padding: 10px;
  border: 2px solid var(--theme-red);
  border-radius: 20px;
  color: var(--theme-red);

}

a{
  color: var(--theme-red)
}

a:active {color: var(--theme-purple)}

.link{
  text-decoration: none !important;
  color: black !important;
}

.left{
  display: flex;
}

.right{
  display: flex;
  gap: 40px;
  text-align: center;
  align-items: center;
}

.right p{
  margin: 0px;
}

.right a{
  color: #000;
  text-decoration: none;
}

.right a:active{
  color: #FFFFFF;
}

.banner-details{
  position: absolute;
  background-size: 100%;
  background-image: url('./background1.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.banner-image{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2%;
  justify-content: center;
  flex-shrink: 0;
}

.overlay-text{
  padding: 10vw;
  justify-self: right;
  width: 45%;
  position: relative;
  z-index: 1;
  gap:10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: center;
  justify-content: flex-start;
}

.frame-container {
  background-color: #3d1697;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.frame-card {
  width: 100%;
  max-width: 1440px;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}

.frame-card-content {
  padding: 0;
}



.frame-title {
  position: absolute;
  width: 347px;
  top: 178px;
  left: 848px;
  text-shadow: 4px 4px 0px #00000040;
  font-family: 'Bernoru-BlackUltra_Expanded', Helvetica, sans-serif;
  font-weight: 900;
  color: white;
  font-size: 64px;
  line-height: 1.1;
}

.frame-subtitle {
  position: absolute;
  width: 490px;
  top: 457px;
  left: 848px;
  font-family: 'Inter-SemiBold_Italic', Helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #fedd5c;
  font-size: 32px;
  line-height: normal;
}

.frame-details {
  position: absolute;
  width: 482px;
  top: 548px;
  left: 848px;
  font-family: 'Be_Vietnam-ExtraBold', Helvetica, sans-serif;
  font-weight: 800;
  color: #fedd5c;
  font-size: 20px;
  line-height: normal;
}

.logo{
  width: 50px;
}

.banner_logo{
  position: absolute;
  object-fit: cover;
  width: 100%;
  background-color: #3D1697
}


.banner{
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.winners-text{
  padding-left:5rem;
  padding-top: 8rem;
  flex: 1;
  min-width: 300px; 
}

.winners-intro{
  color:white;
  font-family: Neuething Sans Test;
  font-size: 30px;
}

.wth2024{
  color:white;
  font-family: Neuething Sans Test;
  font-size: 25px;
}

.winners-details{
  height:auto
}

.See a{
  font-family: Be Vietnam;
  border-radius: 25px;
  background: #FEDD5C;
  color:#000000 !important;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  text-align: center;
  width:10%;
  text-decoration:none
}

.winners p{
  margin-right: 5rem;
  width: 80%;
}

.winners{
  display: flex;
  flex-wrap: wrap; /* Makes it responsive */
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
}
.winner-image{
  display: flex;
  margin-left: 20rem;
  position:relative;
  width: 250px;
  height: auto;
  flex: 1 1 35%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}

.text-column{
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-column {
  flex: auto;
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.economy-image{
  gap: 1rem;
  width: 250px;           /* Fixed width */
  height: auto;           /* Maintain aspect ratio */
  border-radius: 8px;
  object-fit: cover; 

}

.winnerimage{
  gap: 1rem;
  width: 400px;           /* Fixed width */
  height: auto;           /* Maintain aspect ratio */
  border-radius: 8px;
  object-fit: cover;
}


.other{
  width: 50%;
}

.word_logo{
  width: 20%;
}

.timer{
  display: flex;
  gap: 60px;
  margin: 0px 20px;
  margin-bottom:  -40px;
  justify-content: center;
  background-color: var(--yellow);
  border-radius: 10px;
  padding: 20px 40px;
  position: relative;
  align-items: center;
  border: 3px solid var(--border);
  margin-top: 20px;
}

.days p, .hours p, .minutes p, .seconds p, .condition p, .nomargin{
  margin: 0% !important;
}

.lesspadding{
  margin-bottom: 10px;
}

.smalltext{
  font-size: 25px;
  margin-top: -10px;
  margin-bottom: 5px;
  color: #F26241;
}

.large{
  font-size: 25px;
}

.prizes, .past, .about{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
  box-sizing: border-box;
}

.sponsor-header {
  font-family:Bernoru-BlackUltra_Expanded ;
  font-size: 2vw;
  color:white;
  position: relative;
  margin-top: 15vw;
  z-index: 3;
}


.past{
  background-image: none;
}

.intro{
  width: 55%;
}

.condition{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.small{
  width: 150px;
}

.enlarge{
  margin-top: 0px;
  font-size: 65px;
}

.problem{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  padding: 10px;
}

.statement{
  background-color: var(--yellow);
  padding: 20px;
  align-content: center;
  border-radius: 10px;
  border: 2px solid var(--border);
  margin: 0px;
}



.left-align{
  display: flex;
  justify-content: left;
  text-align: left;
}

.ant-timeline-item-head{
  width: 20px !important;
  height: 20px !important;
}

.ant-timeline-item-content{
  margin-inline-start: 30px;
}

.ant-timeline-item-tail {
  inset-block-start: 20px !important;
  inset-inline-start: 8px !important;
  border-inline-start: 5px solid rgba(255, 209, 72, 0.4) !important;
}

.bottom, .bottomdivider{
  width: 100%;
  margin: 50px 0px;
  z-index: -1;
}

.bottom2 {
  width: 100%;
  z-index: -1;
}

.bottom-image {
  position: absolute;
  width: 100vw;
  height: auto;
  z-index: -1;
  margin-top: -175px;
}

.bottomdivider{
  margin: 0%;
  height: 20vh;
  opacity: 0
}


.middle{
  margin-top: -175px !important;
}

.platinum{
  color: var(--platinum);
  border: var(--platinum);
  border-radius: 0%;
}

.gold{
  color: var(--gold);
  border-radius: 0%;
}

.silver{
  color: var(--silver);
}

.bronze{
  color: var(--bronze);
}

.split2{
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  gap: 30px !important;
}

.split3{
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  gap: 30px !important;
}

.group{
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.groupings{
  display: flex;
  gap: 30px;
  flex-direction: row;
}

.logo-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.border{
  border: 5px solid;
  border-radius: 100%;
  width: 125px;
}

.spaceless{
  margin: 0px !important;
}

.space{
  padding: 8px !important;
  margin: 0px !important;
}

.problem, .top{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.prize1, .prize4{
  padding: 10px;
  background-color: var(--theme-purple);
}

.prize2, .prize3{
  padding: 10px;
  background-color: var(--theme-red);
}

.s1{
  background-color: #39E1DD;
}

.s2{
  background-color: #038C7F;
}

.s3{
  background-color: #04BF8A;
}

.s4{
  background-color: #8ED943;
}

.full{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.special{
  border-radius: 20px;
}

.equipment, .hackpack{
  border: var(--theme-purple) 2px solid;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.all{
  display: flex;
  gap: 20px;
}

.hackpack{
  border: var(--theme-red) 2px solid;
}

.divider{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.question{
  width: 100%;
  overflow-x: hidden;
  color:white;
  font-family: Be Vietnam
}

.faqtitle{
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  font-family:Neuething Sans Test;
}

.faq-text{
  width: 100%;
  color:white;
  font-family: Neuething Sans Test;
  font-size: 30px;
}

.faq{
  display: flex;
  flex-direction: column;
  align-items: left;
  height:auto;

}

.faq-container{
  position: relative;
  width: 80%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.carousel{
  padding: 0px 40px;
}

.collapse{
  margin-top: 10px;
  font-family: Be Vietnam;
  border: 2px solid;
  font-size: 20px;
  border: 1px solid black;
}

.hidden{
  opacity: 0;
}

.icon{
  font-size: 30px;
}

.individual, .input, .submit{
  font-family: Be Vietnam;
  font-size: 20px;
}


.submit{
  width: 30%;
  align-self: center;
  padding: 5px;
  border-radius: 20px;
  border: 0px;
  background-color: var(--theme-purple);
}

.display2023, .display2022, .display2018, .display2017{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1px;
}

.display2023{
  background-image: linear-gradient(var(--main-backgroundcolor), var(--seecond-backgroundcolor));
}

.display2022{
  background-image: linear-gradient(var(--seecond-backgroundcolor), var(--theme-purple));
}

.display2018{
  background-image: linear-gradient(var(--theme-purple), var(--seecond-backgroundcolor));
}

.display2017{
  background-image: linear-gradient(var(--seecond-backgroundcolor), var(--main-backgroundcolor));
}

.winner, .winner1{
  display: flex;
  flex-direction: row;
  width: 70%;
  padding-top: 20px;
  z-index: 1;
}

.divder{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.pic{
  width: 50%;
  height: fit-content;
  align-self: center;
}


.prize{
  background-color: var(--yellow);
  border-radius: 20px;
  padding: 5px;
  width: fit-content;
  overflow: auto;
}

.scroll{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.solution{
  text-align: start;
  font-weight: 700;
  font-size: 18px;
}

.prototype{
  background-color: var(--theme-red);
  border-radius: 20px;
  padding: 10px;
}

button{
  border: 2px solid #000000;
}

.prototype {
  color: #000000;  
}

.prototype a{
  color: #000000;
}

.ant-collapse-content-box{
  font-weight: 500;
}

.support{
  padding-top: 0px;
}

.ant-input, .ant-btn, .ant-tabs, .input input, .input textarea, .ant-modal, .ant-modal-body{
  font-size: 20px;
  font-family: Be Vietnam;

}


.form, .input{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  background-color: #FEDD5C;
}

.input{
  margin-bottom: 15px;
  gap: 5px;
}

.smaller{
  width: 15%;
}

.hide a{
  border-radius: 25px;
  background: #FEDD5C;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  color:#000000 !important;
  letter-spacing:0.4px;
}

.startingpoint{
  height: 1px;
}

@media only screen and (max-width: 720px) {
  .expect-grid, h2, p, .info-block, .collapse, .input, .submit, .ant-tabs-nav-list, .divider li, .ant-input, .input input, .input textarea, .ant-modal, .ant-btn, .ant-tabs{
      font-size: 15px !important;
  }
  
  .split{
    flex-direction: column;
  }

  .contact{
    width: 100%;
  }

  .overlay-text{
    padding: 1vw;
    gap: 4px;

  }

  .expect-grid{
    gap: 10px;
  }
  .info-block, .info-header{
    padding: 0% !important;
    margin: 0% !important;
  }

  .ant-tabs{
    margin-left: 10px !important;
  }

  .solution, .theme-grid{
    font-size: 13px !important;
  }

  .bottomdivider, .end{
    margin-top: -200px;
  }
  
  .timeline{
    gap: 11%;
  }

  .small{
    width: 100px;
  }

  .header, .Title5 a , .expect-box{
    padding: 10px !important;
  }

  .expect h2{
    margin: 10px;
  }

  .logo{
    width: 60%;
  }

  .right {
    gap: 7px;
  }

  .intro{
    width: 80%;
  }

  .timer{
    gap:20px;
    padding: 10px 20px;
  }

  .smalltext{
    font-size: 20px !important;
  }

  .large{
    font-size: 18px;
  }
  .enlarge{
    font-size: 40px !important;
  }
  .top{
    padding: 20px;
  }
  .all{
    flex-direction: column;
  }
  .border{
    width: 70px;
    border: 3px solid;
  }
  .other{
    width: 60%;
  }

  .smaller{
    width: 20%;
  }
  .winner{
    flex-direction: column;
  }

  .winner1{
    flex-direction: column-reverse;
  }

  .pic{
    width: 80%;
  }

  .question, .full , .about-image{
    width: 90% !important;
  }

  .bottomdivider{
    margin-top: -120px;
  }

  .middle{
    margin-top: -90px !important;
  }
  
}

@media only screen and (max-width: 400px) {
  .right {
    width: 100%;
    gap: 6px;
    justify-content: flex-end;
  }

  .overlay-text{
    padding: 2px;
    gap: 2px;

  }

  .middle{
    margin-top: -50px !important;
  }
}